<div class="mege-menu">
  <div class="mege-menu__page-width page-width">
    <div class="mege-menu__link-list">
      {% for links in section.settings.menu.links %}
        {% if links.links.size > 0 %}
          <ul>
            <h4>{{ links.title }}</h4>
            {% for link in links.links %}
              <li>
                <a class="link" href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    </div>

    <div class="mege-menu__cads">
      {% for card in section.blocks %}
        {% if card.type == 'mega_menu_cards' %}
          <div class="mege-menu__cad ibg">
            {{ card.settings.mega_menu_card.image.src | image_url: width: '500px' | image_tag: loading: 'lazy' }}
            <div class="filter"></div>
            <div class="mege-menu__cad_info">
              <p>{{ card.settings.mega_menu_card.tags.first }}</p>
              <h4>{{ card.settings.mega_menu_card.title }}</h4>
              <button class="button button--primary">{{ card.settings.mega_menu_card_btn_text }}</button>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<style>
  header.mega_menu_open .mege-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  @media (max-width: 990px) {
    .mege-menu {
      display: none;
    }
  }

  @media (min-width: 990px) {
    .mega_menu_open.content-for-layout::after {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
    .mega-menu__content {
      display: none;
    }
  }

  .content-for-layout::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-300);
    opacity: 0;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    pointer-events: none;
  }

  .mege-menu {
    position: absolute;
    content: '';
    visibility: hidden;
    top: -150%;
    opacity: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgb(var(--color-background));
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-inline: clamp(1rem, 16.087vw - 8.853rem, 5.625rem);
    transition: all 0.3s ease-in-out;
  }
  .mege-menu__page-width {
    display: flex;
    gap: 1rem;
  }
  .mege-menu__link-list,
  .mege-menu__cads {
    display: flex;
    gap: 1.125rem;
    justify-content: space-between;
  }
  .mege-menu__link-list {
    flex: 1 1 45.6%;
  }
  .mege-menu__link-list ul {
    flex: 1 1 16.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
  }
  .mege-menu__link-list ul h4 {
    max-width: 16.25rem;
    font-size: 0.9375rem;
    color: var(--gray-500);
    margin-bottom: 0.625rem;
  }

  .mege-menu__cads {
    display: flex;
    gap: 1.125rem;
    flex: 1 1 54.4%;
  }

  .mege-menu__cad {
    position: relative;
    flex: 1 1 20.1875rem;
    min-height: 19.4375rem;
  }

  .mege-menu__cad_info {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
    height: 100%;
    color: rgb(var(--color-background));
  }

  .mege-menu__cad_info .button {
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-foreground));
  }

  .menu-drawer__menu .list-menu {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .mege-menu__cad h4 {
    font-family: var(--font-heading-family);
    font-size: 1.6875rem;
    font-weight: 500;
  }
</style>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    const megaMenuBtn = document.querySelectorAll('details.mega-menu');
    const header = document.querySelector('header');
    const toogleMegaMenu = () => {
      header.classList.toggle('mega_menu_open');
      document.querySelector('.content-for-layout').classList.toggle('mega_menu_open');
    };
    megaMenuBtn.forEach((el) => {
      el.addEventListener('click', (event) => {
        toogleMegaMenu();
      });
    });
    window.addEventListener('click', (event) => {
      if (!event.target.closest('header')) {
        toogleMegaMenu();
      }
    });
  });
</script>
