{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

<div class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %} color-{{ section.settings.color_scheme }} gradient">
  <div class="collection-hero__inner ibg {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {% if collection.image.src %}
      {{ collection.image.src | image_url: width: collection.image.width, height: collection.image.height | image_tag }}
    {% else %}
      {{ 'collection-apparel-1' | placeholder_svg_tag }}
    {% endif %}
    <div class="collection-hero__text-wrapper page-width">
      <h1 class="collection-hero__title f2 font-medium text-xl">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>
      <div class="collection-hero__description rte text-ml">{{ collection.description }}</div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
